<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="main">
		<h1>
			<span>Поступай в</span>
			@*<img class="logo" src="~/images/logo.png" height="72" />*@
			<span>ТюмГУ</span>
		</h1>
		@RenderBody()
	</div>
</body>
</html>